@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bd-masthead mb-3">
    <h3 class="display-3">About me</h3>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
