@page
@model IndexModel
@{
    ViewData["Title"] = "";
}


<div class="row bd-masthead mt-5">
    <div class="col-sm-12 col-md-3 mt-1"><h3 class="display-5">About me</h3></div>
    <div class="col row">
        <div class ="col">
            <h1 class="display-4">Tomáš Mrňák</h1>
            <h3>.Net developer</h3>
            <p>Hello, I was born in April 1997 in Pardubice (Czechia). I enjoy programming in C# and experimenting with new technologies. 
                I studied for a PhD in Applied Informatics at the University of Hradec Králové.
                My scientific research explored applications of artificial intelligence in telemedicine.
                However, this research began to lack meaning, because a lot of companies were working on the same problem as me.
            </p>
        </div>
        <div class="col-12 col-sm-4 mt-4">
            <img class="rounded mx-auto d-block" src="/image.png" height="220" />
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-3"><h3 class="display-5">Education</h3></div>
    <div class="col row">
        <div class="col">
            <h2 class="display-6">Engineer in Applied informatics at UHK</h2>
            <p>Focus: Development of mobile application for monitoring and telecoaching patients with post-covid respiratory problems</p>
        </div>
        <div class="col-12 col-sm-3 mt-1"><h4>from&nbsp;September&nbsp;2019 to&nbsp;June&nbsp;2022</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col">
            <h2 class="display-6">Bachelor in Applied informatics at UHK</h2>
            <p>Focus: Basic IoT applications</p>
        </div>
        <div class="col-12 col-sm-3 mt-1"><h4>from&nbsp;September&nbsp;2016 to&nbsp;May&nbsp;2019</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col">
            <h2 class="display-6">Industrial and mechanical secondary school at Hradec Kralove</h2>
            <p>Focus: General overview of knowledge in areas of: programming, databases, computer networks, mathematics</p>
        </div>
        <div class="col-12 col-sm-3 mt-1"><h4>from&nbsp;September&nbsp;2012 to&nbsp;June&nbsp;2016</h4></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-3"><h3 class="display-5">Experience</h3></div>
    <div class="col row">
        <div class="col">
            <h2 class="display-6">.Net backend developer at Asseco Solutions</h2>
            <a>Development of web applications with wide use in ERP systems includes:
            <ul class="fa-ul custom-list">
                <li class="fa fa-fw">Creation, optimization and development of RESTful microservices on .Net platform</li>
                <li class="fa fa-fw">Using NoSQL database (MongoDb), Gitlab repository</li>
                <li class="fa fa-fw">Documentation in UML</li>
            </ul>
            </a>
        </div>
        <div class="col-12 col-sm-3 mt-1"><h4>since May 2022</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col">
            <h2 class="display-6">PhD in Applied informatics at UHK</h2>
            <p>Unfinished</p>
            <a>Activities during studies:
                <ul class="fa-ul custom-list">
                    <li class="fa fa-fw">Training and applying artificial intelligence on medical data</li>
                    <li class="fa fa-fw">Teaching bachelors students exercises that give them a foundation for understanding the object-oriented approach</li>
                </ul>
            </a>
        </div>
        <div class="col-12 col-sm-3 mt-1"><h4>from September 2022 to&nbsp;September&nbsp;2024</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col">
            <h2 class="display-6">C# developer at Asseco Solutions</h2>
            <a>
                Development and modification of economic applications according to changes in legislation. Technologies used in these applications:
                <ul class="fa-ul custom-list">
                    <li class="fa fa-fw">.Net Framework 4.8</li>
                    <li class="fa fa-fw">WPF with latest .NET</li>
                    <li class="fa fa-fw">Visual Basic 6.0, VB.NET</li>
                </ul>
            </a>
            <p>
                <ul class="fa-ul custom-list">
                    <li class="fa fa-fw">Using mostly MS SQL database, Win Forms</li>
                    <li class="fa fa-fw">Problem solving, understanding multiple times changed code</li>
                    <li class="fa fa-fw">Documentation in UML</li>
                </ul>
            </p>
        </div>
        <div class="col-12 col-sm-3 mt-1"><h4>from&nbsp;July&nbsp;2019 to&nbsp;January&nbsp;2023</h4></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-3"><h3 class="display-5">Skills</h3></div>
    <div class="col row">
        <h2 class="display-6">Programming languages</h2>
        <div class="col-4 col-sm-2">
            <h3>.Net</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>C#</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>VB</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>Python</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>Vue.js</h3>
        </div>
        <div class="w-100 mt-3"></div>
        <h2 class="display-6">Libraries, Frameworks, Technologies</h2>
        <div class="col-4 col-sm-2">
            <h3>ASP.Net</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>WPF</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>MAUI</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>SQL</h3>
        </div>
        <div class="col-5 col-sm-4">
            <h3>MongoDb</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>UML</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>Git</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>Win Forms</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>HTML</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>3D Print</h3>
        </div>
        <div class="col-4 col-sm-2">
            <h3>BLE</h3>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-3"><h3 class="display-5">Articles</h3></div>
    <div class="col row">
        <h2>Nositelná elektronika – kouč ke zdravému životnímu stylu</h2>
        <div>
            Journal: ZPRAVODAJ VOJENSKÉHO ZDRAVOTNICTVÍ 2/2023
        </div>
        <div>
            Authors: Jiří Néma, Tomáš Mrňák, Milan Růžička, Hynek Schvach, Pavel Blažek
        </div>
        <div class="w-100 mt-3"></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-3"><h3 class="display-5">Contact</h3></div>
    <div class="col row">
        <h2>University</h2>
        <div>
            Email: tomas.mrnak@uhk.cz
        </div>
        <div>
            Office: UHK, FIM faculty, no. 344
        </div>
        <h2 class="mt-3">Others</h2>
        <div>
            <i class="bi bi-linkedin"></i> &nbsp;tomáš-mrňák
        </div>
        <div>
            <i class="bi bi-github"></i> &nbsp;MrninOFF
        </div>
        <div>
            <i class="bi bi-instagram"></i> &nbsp;mrnin._
        </div>
        <div>
            <i class="bi bi-threads"></i> &nbsp;&#64;mrnin._
        </div>
    </div>
</div>