@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row bd-masthead mt-5">
    <div class="col-3"><h3 class="display-5">About me</h3></div>
    <div class="col row">
        <div class ="col-8">
            <h1 class="display-4">Tomáš Mrňák</h1>
            <h3>.Net programmer & PhD student at the University of Hradec Kralove</h3>
            <p>Hello, I was born in April 1997 in Pardubice (Czechia). I enjoy programming in C# and experimenting with new technologies. 
                I am studying for PhD in Applied informatics at University of Hradec Kralove. 
                My scientific research examines applications of artificial intelligence in telemedicine.
            </p>
        </div>
        <div class="col">
            <img class="rounded mx-auto d-block mt-4" src="/image.png" height="220" />
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3"><h3 class="display-5">Education</h3></div>
    <div class="col row">
        <div class="col-9">
            <h2 class="display-6">PhD in Applied informatics at UHK</h2>
            <p>Focus: Training and applying artificial intelligence on medical data</p>
        </div>
        <div class="col-3"><h4>since September 2022</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col-9">
            <h2 class="display-6">Engineer in Applied informatics at UHK</h2>
            <p>Focus: Development of mobile application for monitoring and telecoaching patients with post-covid respiratory problems</p>
        </div>
        <div class="col-3"><h4>from&nbsp;September&nbsp;2019 to&nbsp;June&nbsp;2022</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col-9">
            <h2 class="display-6">Bachelor in Applied informatics at UHK</h2>
            <p>Focus: Basic IoT applications</p>
        </div>
        <div class="col-3"><h4>from&nbsp;September&nbsp;2016 to&nbsp;May&nbsp;2019</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col-9">
            <h2 class="display-6">Industrial and mechanical secondary school at Hradec Kralove</h2>
            <p>Focus: General overview of knowledge in areas of: programming, databases, computer networks, mathematics</p>
        </div>
        <div class="col-3"><h4>from&nbsp;September&nbsp;2012 to&nbsp;June&nbsp;2016</h4></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3"><h3 class="display-5">Experience</h3></div>
    <div class="col row">
        <div class="col-9">
            <h2 class="display-6">.Net backend developer at Asseco Solutions</h2>
            <li>Creation, optimization and development of microservices on .Net platform</li>
            <li>Using NoSQL database (MongoDb), Gitlab repository</li>
            <li>Documentation in UML</li>
        </div>
        <div class="col-3"><h4>since May 2022</h4></div>
        <div class="w-100 mt-3"></div>
        <div class="col-9">
            <h2 class="display-6">C# developer at Asseco Solutions</h2>
            <ul>
                Development and modification of economic applications according to current changes in legislation. Application technologies were:
                <li>.Net Framework 4.8</li>
                <li>WPF with latest .NET</li>
                <li>Visual Basic 6.0</li>

            </ul>
            <li>Using mostly MS SQL database</li>
            <li>Solving problems, understanding code</li>
            <li>Documentation in UML</li>
        </div>
        <div class="col-3"><h4>from&nbsp;July&nbsp;2019 to&nbsp;January&nbsp;2023</h4></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3"><h3 class="display-5">Skills</h3></div>
    <div class="col row">
        <h2 class="display-6">Programming languages</h2>
        <div class="col-2">
            <h3>.Net</h3>
        </div>
        <div class="col-2">
            <h3>.C#</h3>
        </div>
        <div class="col-2">
            <h3>VB</h3>
        </div>
        <div class="col-2">
            <h3>Python</h3>
        </div>
        <div class="col-2">
            <h3>Vue.js</h3>
        </div>
        <div class="w-100 mt-3"></div>
        <h2 class="display-6">Libraries, Frameworks, Technologies</h2>
        <div class="col-2">
            <h3>ASP.Net</h3>
        </div>
        <div class="col-2">
            <h3>WPF</h3>
        </div>
        <div class="col-2">
            <h3>UWP</h3>
        </div>
        <div class="col-2">
            <h3>SQL</h3>
        </div>
        <div class="col-2">
            <h3>MongoDb</h3>
        </div>
        <div class="w-100 mt-3"></div>
        <div class="col-2">
            <h3>UML</h3>
        </div>
        <div class="col-2">
            <h3>Git</h3>
        </div>
        <div class="col-2">
            <h3>HTML</h3>
        </div>
        <div class="col-2">
            <h3>3D Print</h3>
        </div>
        <div class="col-2">
            <h3>BLE</h3>
        </div>
</div>